:root {
	--color-primary: #FFEDD8;
	--color-primary-dark: #F3D5B5;
	--color-secondary: #351d00;
	--color-secondary-dark: #241400;
	--color-tertiary: #A47148;
	--color-tertiary-dark: #8B5E34;
	--color-accent: #603808;
	--color-white: #fafafa;
	--color-black: #0c0c0c;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	background: var(--color-primary);
	margin: 0;
}

/******************************************************************/
/* Shared Styles */
.section {
	padding: 5rem 10rem;
	position: relative;
	z-index: 0;
}

.section:not(:last-of-type) {
	margin-bottom: 10rem;
}

.section__title {
	font-size: 6rem;
	padding: 1rem 2rem;
	margin-top: 0;

	position: relative;
	width: fit-content;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 100%;
	transition: background-size .5s;
}

.section__title:hover {
	background-size: 350%;
}

.section__title::after {
	position: absolute;
	content: '';
	inset: 0;
	z-index: -1;
	background-size: 100%;
	transition: background-size .5s;
}

.section__title:hover::after {
	background-size: 350%;
}

/******************************************************************/
/* Navigation Bar */
header {
	height: 5rem;
	background: var(--color-secondary);
}

/******************************************************************/
/* Hero Section */
.section--hero {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

.hero__img-container {
	position: relative;
	align-self: center;
	max-width: 75%;
}

.hero__img-container::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: -4rem;
	left: -4rem;
	outline: 1rem solid var(--color-accent);
	outline-offset: -1rem;
	z-index: -1;
}

.hero__img {
	width: 100%;
	filter: sepia(.8);
	transition: filter .3s;
}

.hero__img:hover {
	filter: sepia(0);
}

.hero__content {
	margin: 10vw 0;
	display: flex;
	flex-direction: column;
	font-family: 'Libre Baskerville', serif;
}

.hero__title {
	font-size: 3rem;
	font-weight: 400;
	margin: 0;
	animation: fadeInBottom 1s both;
}

.hero__name {
	display: block;
	font-size: 8rem;
	font-weight: 600;
	color: var(--color-accent);
	width: fit-content;
	margin-left: 4rem;
	margin-top: 1rem;
}

.hero__subtitle {
	margin-top: 8rem;
	display: flex;
	animation: fadeInBottom 1s .5s both;
}

.hero__subtitle-text {
	margin: 0;
	font-size: 4rem;
	flex-shrink: 0;
}

.hero__subtitle-cards {
	margin-left: 2rem;
	position: relative;
	transform: translateY(-.5rem);
}

.hero__subtitle-card {
	position: absolute;
	display: inline-block;
	background: var(--color-white);
	padding: .2em .5em;
	width: 18rem;
	box-shadow: .3rem .3rem .5rem;
	font-size: 3rem;
	text-align: center;
	color: var(--color-accent);

	--card-top-distance: .5rem;
	--card-left-distance: .7rem;
	--card-raiseY-distance: 1.5rem;
	--card-raiseX-distance: 6rem;
	--card-rotation: 8deg;
	--card-animation-duration: 4.5s;
	--card-animation-delay: 2.5s;
}

.hero__subtitle-card:first-of-type {
	top: 0;
	left: 0;
	z-index: 10;
	animation: shuffle-card-1 var(--card-animation-duration) var(--card-animation-delay) infinite;
}

.hero__subtitle-card:nth-of-type(2) {
	top: var(--card-top-distance);
	left: var(--card-left-distance);
	z-index: 9;
	animation: shuffle-card-2 var(--card-animation-duration) var(--card-animation-delay) infinite;
}

.hero__subtitle-card:nth-of-type(3) {
	top: calc(var(--card-top-distance) * 2);
	left: calc(var(--card-left-distance) * 2);
	z-index: 8;
	animation: shuffle-card-3 var(--card-animation-duration) var(--card-animation-delay) infinite;
}

.hero__subtitle-card:nth-of-type(4) {
	top: calc(var(--card-top-distance) * 3);
	left: calc(var(--card-left-distance) * 3);
	z-index: 7;
	animation: shuffle-card-4 var(--card-animation-duration) var(--card-animation-delay) infinite;
}

.contact-button {
	margin-top: 12rem;
	align-self: center;
	animation: fadeInBottom 1s 1s both;
}

.contact-button__button {
	position: relative;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.2rem;
	text-decoration: none;
	color: var(--color-white);
	letter-spacing: 1px;
	padding: .8em 1.2em;
	border-radius: 4rem;
	outline: 2px solid var(--color-tertiary);
	outline-offset: 3px;
	background: var(--color-tertiary);
	cursor: pointer;
	transition: outline-offset .1s, background-color .2s;
}

.contact-button__button:hover {
	background: var(--color-tertiary-dark);
	outline: 2px solid var(--color-tertiary-dark);
	outline-offset: 1rem;
}

.contact-button__button:active {
	outline-offset: 1px;
}

/******************************************************************/
/* About */
.section--about {
	background-image: linear-gradient(
		to right,
		var(--color-secondary-dark) 55%,
		var(--color-tertiary)
	);
	padding: 10rem 10rem;
}

.section__title--about {
	background-image: linear-gradient(
		115deg,
		var(--color-secondary) 38%,
		var(--color-primary) 38%
	);
}

.section__title--about::after {
	background-image: linear-gradient(
		115deg,
		var(--color-primary) 38%,
		transparent 38%
	);
}

.about__body {
	margin-left: 2rem;
	width: 40%;
	animation: fadeInLeft .5s .2s both;
}

.about__excerpt {
	color: var(--color-white);
	font-size: 2.2rem;
	line-height: 1.5;
}

.about__excerpt:first-of-type {
	margin-bottom: 5rem;
}

/******************************************************************/
/* Skills */
.skills-section {

}

.section__title--skills {
	margin-left: auto;
	background-image: linear-gradient(
		115deg,
		var(--color-secondary) 65%,
		var(--color-primary) 65%
	);
	background-position: right;
	margin-bottom: 0;
}

.section__title--skills::after {
	background-image: linear-gradient(
		115deg,
		transparent 65%,
		var(--color-secondary) 65%
	);
	background-position: right;
}

.skills {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
	width: 90rem;
	margin: -10rem auto 0;
}

.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	aspect-ratio: 1.3 / 1;
	position: relative;
	margin: 1rem;
	background: var(--color-secondary);
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);

	font-size: 2rem;
	font-weight: 700;
	color: var(--color-white);
	transition: color .3s, transform .3s;
}

.skill:hover {
	color: var(--color-accent);
}

.skill::after {
	position: absolute;
	content: '';
	inset: 50%;
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
	background: var(--color-white);
	z-index: -1;
	transition: inset .4s, transform .4s;
}

.skill:hover::after {
	inset: 2rem;
	transform: rotate(-180deg);
}

.skill:first-of-type { grid-column: 3 / span 3; grid-row: 1 / span 2; opacity: 0; animation: fadeIn .5s .2s ease-out forwards; }
.skill:nth-of-type(2) { grid-column: 1 / span 3; grid-row: 2 / span 2; opacity: 0; animation: fadeIn .5s 1.2s ease-out forwards; }
.skill:nth-of-type(3) { grid-column: 5 / span 3; grid-row: 2 / span 2; opacity: 0; animation: fadeIn .5s .4s ease-out forwards; }
.skill:nth-of-type(4) { grid-column: 3 / span 3; grid-row: 3 / span 2; opacity: 0; animation: fadeIn .5s 1.4s ease-out forwards; }
.skill:nth-of-type(5) { grid-column: 1 / span 3; grid-row: 4 / span 2; opacity: 0; animation: fadeIn .5s 1s ease-out forwards; }
.skill:nth-of-type(6) { grid-column: 5 / span 3; grid-row: 4 / span 2; opacity: 0; animation: fadeIn .5s .6s ease-out forwards; }
.skill:nth-of-type(7) { grid-column: 3 / span 3; grid-row: 5 / span 2; opacity: 0; animation: fadeIn .5s .8s ease-out forwards; }

.skill__img {
	aspect-ratio: 1 / 1;
	width: 10rem;
	transition: transform .3s;
}

.skill:hover img {
	transform: scale(1.2);
	filter: drop-shadow(.5rem .5rem .6rem var(--color-black));
}

/******************************************************************/
/* Projects */
.section--projects {
	background: var(--color-secondary-dark);
	padding: 10rem 10rem;
	overflow: hidden;
}

.section__title--projects {
	background-image: linear-gradient(
		115deg,
		var(--color-secondary) 38%,
		var(--color-primary) 38%
	);
}

.section__title--projects::after {
	background-image: linear-gradient(
		115deg,
		var(--color-primary) 38%,
		transparent 38%
	);
}

.projects {
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

.project {
	display: flex;
	justify-content: space-around;
	position: relative;
	padding: 5rem 0;
}

.project--alt {
	flex-direction: row-reverse;
}

.project__img-container {
	position: relative;
	display: block;
	width: 55%;
	z-index: 1;
}

.project__img-container::before,
.project__img-container::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.project__img-container::before {
	bottom: -3rem;
	left: -4rem;
	background: var(--color-primary-dark);
}

.project__img-container::after {
	top: -3rem;
	left: 4rem;
	background: var(--color-tertiary-dark);
	width: 190%;
	overflow: hidden;
}

.project__img {
	aspect-ratio: 1920 / 1080;
	width: 100%;
	object-fit: cover;
	box-shadow: .5rem .5rem 2rem var(--color-black);
	transition: transform .2s, box-shadow .2s;
}

.project__img:hover {
	transform: scale(1.03);
	box-shadow: .8rem .8rem 2.5rem var(--color-black);
}

.project__img:active {
	transform: scale(.98);
	box-shadow: .4rem .4rem 1.5rem var(--color-black);
}

.project__details {
	display: flex;
	flex-direction: column;
	z-index: 1;
	max-width: 55rem;
	color: var(--color-white);
}

.project__title {
	position: relative;
	margin: 2rem 0 0 -5rem;
	font-size: 6rem;
	width: fit-content;
}

.project__title::after {
	content: '';
	position: absolute;
	bottom: -.3rem;
	right: -2rem;
	width: 90%;
	height: 3rem;
	background: var(--color-secondary);
	z-index: -1;
}

.project__summary {
	margin-top: 6rem;
	font-size: 2.5rem;
	line-height: 1.5;
}

.project__tools {
	display: flex;
	gap: 1.5rem;
}

.project__tool {
	color: var(--color-primary);
	outline: 2px solid var(--color-primary);
	padding: .3em .7em;
}

.project__links {
	margin-top: 10rem;
	display: flex;
	gap: 4rem;
}

.project__link {
	background: var(--color-primary-dark);
	box-shadow: .8rem -.8rem 0 var(--color-accent);
	padding: .4em .7em;
	font-size: 1.8rem;
	color: var(--color-secondary-dark);
	text-decoration: none;
}

.project__link:hover {
	text-decoration: underline;
}

/******************************************************************/
/* Animations */
@keyframes fadeIn {
	to { opacity: 1; }
}

@keyframes fadeInBottom {
	from {
		opacity: 0;
		transform: translateY(1.5rem);
	}

	to { opacity: 1; }
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-1.5rem);
	}

	to { opacity: 1; }
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(1.5rem);
	}

	to { opacity: 1; }
}

@keyframes shuffle-card-1 {
	15% {
		transform:
			translate(
				var(--card-raiseX-distance),
				calc(-100% - var(--card-raiseY-distance)))
			rotate(var(--card-rotation));
		z-index: 10;
	}

	16% { z-index: 5; }

	30% {
		transform: translate(
			calc(var(--card-left-distance) * 3),
			calc(var(--card-top-distance) * 3));
		z-index: 5;
	}

	45% {
		transform: translate(
			calc(var(--card-left-distance) * 2),
			calc(var(--card-top-distance) * 2));
		z-index: 7;
	}

	60% {
		transform: translate(
			var(--card-left-distance),
			var(--card-top-distance));
		z-index: 8;
	}

	75% {
		transform: translate(0, 0);
		z-index: 9;
	}
}

@keyframes shuffle-card-2 {
	15% {
		transform: translate(
			calc(var(--card-left-distance) * -1),
			calc(var(--card-top-distance) * -1));
		z-index: 9;
	}

	30% {
		transform:
			translate(
				calc(var(--card-raiseX-distance) - var(--card-left-distance)),
				calc(var(--card-top-distance) * -1 - var(--card-raiseY-distance) - 100% ))
			rotate(var(--card-rotation));
		z-index: 10;
	}

	31% { z-index: 5; }

	45% {
		transform: translate(
			calc(var(--card-left-distance) * 2),
			calc(var(--card-top-distance) * 2));
		z-index: 5;
	}

	60% {
		transform: translate(
			var(--card-left-distance),
			var(--card-top-distance));
		z-index: 7;
	}

	75% {
		transform: translate(0, 0);
		z-index: 8;
	}
}

@keyframes shuffle-card-3 {
	15% {
		transform: translate(
			calc(var(--card-left-distance) * -1),
			calc(var(--card-top-distance) * -1));
		z-index: 8;
	}

	30% {
		transform: translate(
			calc(var(--card-left-distance) * -2),
			calc(var(--card-top-distance) * -2));
		z-index: 9;
	}

	45% {
		transform:
			translate(
				calc(var(--card-raiseX-distance) - 2 * var(--card-left-distance)),
				calc(var(--card-top-distance) * -2 - var(--card-raiseY-distance) - 100% ))
			rotate(var(--card-rotation));
		z-index: 10;
	}

	46% { z-index: 5; }

	60% {
		transform: translate(
			calc(var(--card-left-distance) * 1),
			calc(var(--card-top-distance) * 1));
		z-index: 5;
	}

	75% {
		transform: translate(0, 0);
		z-index: 7;
	}
}

@keyframes shuffle-card-4 {
	15% {
		transform: translate(
			calc(var(--card-left-distance) * -1),
			calc(var(--card-top-distance) * -1));
		z-index: 7;
	}

	30% {
		transform: translate(
			calc(var(--card-left-distance) * -2),
			calc(var(--card-top-distance) * -2));
		z-index: 8;
	}

	45% {
		transform: translate(
			calc(var(--card-left-distance) * -3),
			calc(var(--card-top-distance) * -3));
		z-index: 9;
	}

	60% {
		transform:
			translate(
				calc(var(--card-raiseX-distance) - 3 * var(--card-left-distance)),
				calc(var(--card-top-distance) * -3 - var(--card-raiseY-distance) - 100% ))
			rotate(var(--card-rotation));
	}

	61% { z-index: 5; }

	75% {
		transform: translate(0rem, 0rem);
		z-index: 5;
	}
}